# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
models/*.h5

# Raw data files
data/raw/
data/processed/

# Node.js dependencies
frontend/node_modules/